<div class="container-fluid main">
        <div class="row">
                <div class="helpImage">
                        <div class="text">
                                <p id='para1'>
                                        He has the right to criticize
                                </p>
                                <p id='para2'>
                                        who has a
                                        <span>heart</span> to help.
                                </p>
                        </div>
                        <div class="knowMore">
                                Know More
                        </div>
                </div>
        </div>

        <div class="row welcome">
                <div class="welcomeText col-md-6">
                        <div class="wrapper col-sm-8 offset-sm-3">
                                <div class="title">
                                        WELCOME TO OUR SITE!
                                </div>

                                <br/>

                                <div class="info">
                                        We provide emotional and practical support for families who have a seriously ill children. We offer the whole family support
                                        24/7 regardless of diagnosis and for as long as it is needed.

                                </div>
                                <br/>
                                <div class="readMore">
                                        <div class="wrapper">
                                                Read More
                                        </div>
                                </div>
                                <br/>
                        </div>
                </div>
                <div class="welcomeImage col-md-6">
                        <img src="assets/images/Together.jpg" alt="image missing">
                </div>
        </div>
        <br class='d-xs-block d-sm-none d-md-none d-lg-none d-xl-none' />
        <br class='d-xs-block d-sm-none d-md-none d-lg-none d-xl-none' />
        <div class="row shortly">
                <div class="shortlyImage col-md-6">
                        <img src="assets/images/Shotly.jpg" alt="image missing">
                </div>
                <div class="shortlyText col-md-6">
                        <div class="wrapper col-sm-8 offset-sm-3">
                                <div class="title">
                                        Shortly about us
                                </div>

                                <br/>

                                <div class="info">
                                        We provide emotional and practical support for families who have a seriously ill children. We offer the whole family support
                                        24/7 regardless of diagnosis and for as long as it is needed.

                                </div>
                                <br/>
                                <div class="readMore">
                                        <div class="wrapper">
                                                Read More
                                        </div>
                                </div>
                                <br/>
                        </div>
                </div>
        </div>
        <div class="row ourTeam">
                <div class="wrapper">
                        Our Team
                        <br/>
                </div>
        </div>

        <div class="row team">
                <div class="card card1" style="width: 18rem;">
                        <img class="card-img-top" src="assets/images/Admin.jpg" alt="Card image cap">
                        <div class="card-body">
                                <h5 class="card-title">Name 1</h5>
                                <p class="card-text">Administrator</p>
                        </div>
                </div>
                <div class="card card2" style="width: 18rem;">
                        <img class="card-img-top" src="assets/images/NGOHead.jpg" alt="Card image cap">
                        <div class="card-body">
                                <h5 class="card-title">Name 2</h5>
                                <p class="card-text">NGO Head</p>
                        </div>
                </div>
                <div class="card card3" style="width: 18rem;">
                        <img class="card-img-top" src="assets/images/Police1.jpg" alt="Card image cap">
                        <div class="card-body">
                                <h5 class="card-title">Name 3</h5>
                                <p class="card-text">Police Commissioner</p>
                        </div>
                </div>
        </div>

        <div class="strategy">
                <br/>
                <div class="row col-sm-4 offset-sm-3">
                        <div class="title">
                                OUR STRATEGY
                        </div>

                        <div class="content">
                                We currently support more than 1 in 4 of these families. It is our intention to expand geographically and introduce new services
                                to meet this total demand.
                        </div>
                        <br/>
                </div>
                <br/>
                <div class="row col-sm-4 offset-sm-6">
                        <div class="title">
                                SUPPORT MORE FAMILIES
                        </div>
                        <div class="content">
                                We currently support more than 1 in 4 of these families. It is our intention to expand geographically and introduce new services
                                to meet this total demand.
                        </div>
                        <br/>
                </div>
                <br/>
                <div class="row col-sm-4 offset-sm-3">
                        <div class="title">
                                EXTEND OUR SERVICE
                        </div>
                        <div class="content">
                                We currently support more than 1 in 4 of these families. It is our intention to expand geographically and introduce new services
                                to meet this total demand.
                        </div>
                        <br/>
                </div>
                <br/>
                <div class="row col-sm-4 offset-sm-6">
                        <div class="title">
                                INCREASE OUR PROFILE
                        </div>
                        <div class="content">
                                We currently support more than 1 in 4 of these families. It is our intention to expand geographically and introduce new services
                                to meet this total demand.
                        </div>
                        <br/>
                </div>
                <br/>
                <div class="row col-sm-4 offset-sm-3">
                        <div class="title">
                                CONTINUED GROWTH
                        </div>
                        <div class="content">
                                We currently support more than 1 in 4 of these families. It is our intention to expand geographically and introduce new services
                                to meet this total demand.
                        </div>
                        <br/>
                </div>
                <div class="row rowBtn col-md-3 offset-md-8">
                        <div class="wrapper">
                                view all strategies
                        </div>
                </div>
                <br/>
        </div>

        <div class="row ourContacts">
                <div class="card getInTouch" style="width: 18rem;">
                        <div class="card-body">
                                <div class="wrapper">
                                        <h5 class="card-title">Get in touch</h5>
                                        <span class="card-text">8901 MARMORA ROAD GLASGOW, DO4 89GR.</span>
                                        <span class="card-text">FREEPHONE:
                                                <span>+1 800 559 6580</span>
                                        </span>
                                        <span class="card-text">TELEPHONES:
                                                <span>+1 959 603 6035</span>
                                        </span>
                                        <span class="card-text">FAX:
                                                <span>+1 504 889 9898</span>
                                        </span>
                                        <span class="card-text">E-MAIL:
                                                <span>MAIL@DEMOLINK.ORG</span>
                                        </span>
                                        <br/>
                                        <br/>
                                </div>
                        </div>
                </div>
                <div class="card joinUs" style="width: 18rem;">
                        <div class="card-body">
                                <div class="wrapper">
                                        <h5 class="card-title">Join us</h5>
                                        <p class="card-text">AND ALWAYS STAY INFORMED OF THE LATEST NEWS AND EVENTS!</p>
                                        <span class="card-text signUp">Sign up</span>
                                        <br/>
                                        <br/>
                                </div>
                        </div>
                </div>
                <div class="card followUs" style="width: 18rem;">
                        <div class="card-body">
                                <div class="wrapper">
                                        <h5 class="card-title">Follow us</h5>
                                        <span class='social'>
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </span>
                                        <span class='social'>
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </span>
                                        <span class='social'>
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </span>
                                        <span class='social'>
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </span>
                                        <br/>
                                        <br/>
                                </div>
                        </div>
                </div>
        </div>
</div>