
<div class="navigationBar d-xs-block d-sm-none d-md-none d-lg-none d-xl-none sticky-top">
  <nav role="navigation">
    <div id="menuToggle">
      <!-- A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it. -->
      <input type="checkbox" />

      <!-- Some spans to act as a hamburger. -->
      <span></span>
      <span></span>
      <span></span>
      
<!-- Logo to be kept in between -->
      <div class="Logo">
        <i class="fa fa-rebel" aria-hidden="true"></i> Jaffe
      </div>
<!-- Actual List that will be viewed on Hamburger click -->
      <ul id="menu" style="border: 2px solid red">
        <a routerLink='/Home'>
          <li (click)='home()'><i class="fa fa-home" aria-hidden="true"></i></li>
        </a>
        <a routerLink='/Gallery'>
          <li>Gallery</li>
        </a>
        <a routerLink="/Blog">
          <li>Blog</li>
        </a>
        <a routerLink="/Contacts">
          <li>Contacts</li>
        </a>
<!-- A partition for Login and Signup -->
        <div class="space">

        </div>
        <a routerLink="/Login" class="login">
          <li class="login"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</li>
        </a>
        <a routerLink="SignUp" class="signUp">
          <li class="signUp"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign Up</li>
        </a>
      </ul>
    </div>
  </nav>
</div>