/**------------Common Configurations--------------*/ 
.wrapper{
    background-image: url('~/assets/svg/escheresque_ste.png');
}

.login,
.signUp{
    text-align: center;
    margin-top: 10vw;
    box-shadow: 0px 0px 5px #888888;
}

/**------------Common Configurations--------------*/ 

/**------------Welcome Back Configurations--------------*/

.welcomeBack{
    text-transform: none;
    font-size: 1.5em;
    font-weight: bolder;
    color:black;
}

label{

    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.8em;
    margin:0;
}

input,
input:enabled{
    display:block;
    text-align: center;
    background-color: none;
    border-radius: 0;
    border:0;
    outline: 0;
    width: 50%;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
    box-shadow: none;
    /* border-radius: 20px 20px 20px 20px; */
    margin: auto;
}

.signUp button{
    margin: auto;
    background-color: rgb(255, 60, 60);
    color: white;
    text-transform: uppercase;
    border-radius: 20px 20px 20px 20px;
    transition: 600ms;
} 

.signUp{
    background-color: white;
}

.signUp button:hover{
    cursor: pointer;
    background-color: rgb(245, 41, 41);
}

/**------------Welcome Back Configurations--------------*/

/**------------SignUp Configurations--------------*/

.login{
    color: white;
    padding-top: 15vw;
    padding-bottom: 15vw;
    text-align: center;
    text-transform: uppercase;
    background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('~/assets/images/loginSignUp1.jpg');
    background-size: cover;
    z-index: 1;
}

.login:hover{
    background-color: rgba(0, 0, 0, 0.418);
}

.oneOfUs{
    text-shadow:0px 0px 2px rgba(0, 0, 0, 1);
    margin-top: 3vw;
    text-transform: none;
    font-size: 1.5em;
}

.loginNow{
    text-shadow:1px 1px 2px rgba(0, 0, 0, 1);
    text-transform: none;
    margin-top: 2vw;
}

.btnLoginNow{
    width: 6em;
    margin: auto;
    text-shadow:0px 0px 2px rgba(0, 0, 0, 1);
    border: 1px solid white;
    border-radius: 20px 20px 20px 20px;
    margin-top:15vw;
    transition: 600ms;
}

.btnLoginNow:hover{
    cursor: pointer;
    color: rgb(245, 41, 41);
    border:1px solid rgb(226, 17, 17);
}

/**------------SignUp Configurations--------------*/